<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>策略实时监控</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/amazeui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <!--link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_am_custom.css') }}">
</head>
<body>

<header id="amz-header">
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top">上证50</span>
            <div class="count red" id="sz50">--%</div>
            <span class="count_bottom"><i class="green" id="sz50r">--% </i> 策略实时对比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> 沪深300</span>
            <div class="count red" id="hs300">--%</div>
            <span class="count_bottom"><i class="green" id="hs300r"><i class="fa fa-sort-asc"></i>--% </i> 策略实时对比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"> 中证500</span>
            <div class="count green" id="zz500">--%</div>
            <span class="count_bottom"><i class="green" id="zz500r"><i class="fa fa-sort-asc"></i>--% </i> 策略实时对比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top">策略</span>
            <div class="count red" id="strategy">--%</div>
            <span class="count_bottom" style="visibility: hidden;"><i class="red" id="strategyr"><i
                    class="fa fa-sort-desc"></i>--
            </i> 策略实时对比</span>
        </div>
    </div>
    <!-- /top tiles -->
</header>

<section class="" id="amz-main" data-tag="css-utility">

    <!-- List -->
    <div data-am-widget="list_news" class="am-list-news am-list-news-default" style="margin-top: 36px;">
        <!--列表标题-->
        <div class="am-list-news-hd am-cf">
            <!--带更多链接-->
            <h2></h2>
        </div>
        <div class="am-list-news-bd">
            <div id="statsChart" style="min-height: 600px;padding-left: 0px;padding-right: 0px"></div>
        </div>
    </div>

</section>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/amazeui.min.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script type="text/javascript">
    Highcharts.setOptions({global: {useUTC: false}})
</script>
<script src="{{ url_for('static', filename='js/draggable-legend.js') }}"></script>
<script src="http://g.alicdn.com/dingding/open-develop/1.0.0/dingtalk.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        function ontick() {
            var result = new Array()
            $.ajaxSettings.async = false
            $.getJSON('/tick/', function (response) {
                if (response.data.length > 1) {
                    result.push(response.data[0])
                    for (var i = 1; i < response.data.length; i++) {
                        result.push((100 * parseFloat(response.data[i])).toFixed(2))
                    }
                }
            })
            return result
        }

        var chart = {
            draggable: false,
            zoomType: 'x',
            events: {
                load: function () {
                    // set up the updating of the chart each second
                    var series = this.series, chart = this;
                    var categories = chart.xAxis[0].categories;
                    setInterval(function () {
                        var result = ontick()
                        //console.log(result)
                        if (result.length > 1) {
                            categories.push(result[0])
                            series[0].addPoint(parseFloat(result[1]), false, false);
                            series[1].addPoint(parseFloat(result[2]), false, false);
                            series[2].addPoint(parseFloat(result[3]), false, false);
                            series[3].addPoint(parseFloat(result[4]), true, false);
                        }
                    }, 30*1000);
                }
            }
        }

        var title = {
            text: '涨跌幅走势'
        }

        var subtitle = {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
        }

        var xAxis = {
            type: 'datetime',
            tickInterval: 30,
            dateTimeLabelFormats: { // don't display the dummy year
                millisecond: '%H:%M:%S.%L',
                second: '%H:%M:%S',
                minute: '%H:%M',
                hour: '%H:%M',
                day: '%m-%d',
                week: '%m-%d',
                month: '%Y-%m',
                year: '%Y'
            },
            //categories: []
        }
        var tooltip = {
            dateTimeLabelFormats: {
                millisecond: '%H:%M:%S.%L',
                second: '%H:%M:%S',
                minute: '%H:%M',
                hour: '%H:%M',
                day: '%Y-%m-%d',
                week: '%m-%d',
                month: '%Y-%m',
                year: '%Y'
            },
            enabled: true
        }
        var yAxis = {
            title: {
                text: null
            },
        }

        var plotOptions = {
            line: {
                dataLabels: {
                    enabled: false
                },
                marker: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        }

        var credits = { // 网站标识
            enabled: false//版权为fals 就不会再显示highcharts的logo。
        }

        var colors = ['#F39C12', '#3498DB', '#000000', '#ff0000']

        var json = {}

        json.chart = chart
        json.title = title
        json.subtitle = subtitle
        json.xAxis = xAxis
        json.yAxis = yAxis
        json.tooltip = tooltip
        json.plotOptions = plotOptions
        json.colors = colors

        var legend = {
            align: 'right',
            verticalAlign: 'top',
            borderWidth: 0
        }
        json.legend = legend


        json.credits = credits
        $.getJSON('/rt_pct/', function (response) {
            xAxis.categories = response.data[4]
            xdata = response.data[4]
            ydata01 = response.data[0]
            var series = [
                {
                    name: '上证50',
                    data: response.data[0]
                },
                {
                    name: '沪深300',
                    data: response.data[1]
                },
                {
                    name: '中证500',
                    data: response.data[2]
                }
                ,
                {
                    name: '策略组合',
                    data: response.data[3]
                }
            ]
            json.series = series
            $('#statsChart').highcharts(json)
        })
        var v_sz50 = $('#sz50')
        var v_sz50r = $('#sz50r')
        var v_hs300 = $('#hs300')
        var v_hs300r = $('#hs300r')
        var v_zz500 = $('#zz500')
        var v_zz500r = $('#zz500r')
        var v_strategy = $('#strategy')
        var v_strategyr = $('#strategyr')


        var socket = io.connect('http://' + document.domain + ':' + location.port + '/')
        socket.on('onTick', function (msg) {
            sz50 = parseFloat(msg.sz50).toFixed(4)
            hs300 = parseFloat(msg.hs300).toFixed(4)
            zz500 = parseFloat(msg.zz500).toFixed(4)
            strategy = parseFloat(msg.strategy).toFixed(4)
            time_stamp = msg.time_stamp
            v_sz50.html((100 * sz50).toFixed(2) + '%');
            if (sz50 >= 0) {
                if (!v_sz50.hasClass('red')) {
                    v_sz50.removeClass('green').addClass('red')
                }
            } else {
                if (!v_sz50.hasClass('green')) {
                    v_sz50.removeClass('red').addClass('green')
                }
            }
            v_sz50r.html((100 * (strategy - sz50)).toFixed(2) + '%');
            if (strategy - sz50 >= 0) {
                if (!v_sz50r.hasClass('red')) {
                    v_sz50r.removeClass('green').addClass('red')
                }
            } else {
                if (!v_sz50r.hasClass('green')) {
                    v_sz50r.removeClass('red').addClass('green')
                }
            }
            v_hs300.html((100 * hs300).toFixed(2) + '%');
            if (hs300 >= 0) {
                if (!v_hs300.hasClass('red')) {
                    v_hs300.removeClass('green').addClass('red')
                }
            } else {
                if (!v_hs300.hasClass('green')) {
                    v_hs300.removeClass('red').addClass('green')
                }
            }
            v_hs300r.html((100 * (strategy - hs300)).toFixed(2) + '%');
            if (strategy - hs300 >= 0) {
                if (!v_hs300r.hasClass('red')) {
                    v_hs300r.removeClass('green').addClass('red')
                }
            } else {
                if (!v_hs300r.hasClass('green')) {
                    v_hs300r.removeClass('red').addClass('green')
                }
            }
            v_zz500.html((100 * zz500).toFixed(2) + '%');
            if (zz500 >= 0) {
                if (!v_zz500.hasClass('red')) {
                    v_zz500.removeClass('green').addClass('red')
                }
            } else {
                if (!v_zz500.hasClass('green')) {
                    v_zz500.removeClass('red').addClass('green')
                }
            }
            v_zz500r.html((100 * (strategy - zz500)).toFixed(2) + '%');
            if (strategy - zz500 >= 0) {
                if (!v_zz500r.hasClass('red')) {
                    v_zz500r.removeClass('green').addClass('red')
                }
            } else {
                if (!v_zz500r.hasClass('green')) {
                    v_zz500r.removeClass('red').addClass('green')
                }
            }
            v_strategy.html((100 * strategy).toFixed(2) + '%');
            if (strategy >= 0) {
                if (!v_strategy.hasClass('red')) {
                    v_strategy.removeClass('green').addClass('red')
                }
            } else {
                if (!v_strategy.hasClass('green')) {
                    v_strategy.removeClass('red').addClass('green')
                }
            }
        })

    })
</script>
</body>
</html>

