<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>策略实时监控</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/amazeui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_am_custom.css') }}">
</head>
<body>

<header id="amz-header">
    <div id="log"></div>
</header>

<section class="" id="amz-main" data-tag="css-utility">

    <!-- List -->
    <div data-am-widget="list_news" class="am-list-news am-list-news-default">
        <!--列表标题-->
        <div class="am-list-news-hd am-cf">
            <!--带更多链接-->
        </div>
        <div class="am-list-news-bd">
            <table class="table am-table">
                <thead>
                <tr>
                    <td>名称</td>
                    <td>涨跌幅</td>
                    <td>策略实时对比</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>上证50</td>
                    <td id="sz50">---</td>
                    <td id="sz50r">---</td>
                </tr>
                <tr>
                    <td>沪深300</td>
                    <td id="hs300">---</td>
                    <td id="hs300r">---</td>
                </tr>
                <tr>
                    <td>中证500</td>
                    <td id="zz500">---</td>
                    <td id="zz500r">---</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- List -->
    <div data-am-widget="list_news" class="am-list-news am-list-news-default" style="margin-top: 36px;">
        <!--列表标题-->
        <div class="am-list-news-hd am-cf">
            <!--带更多链接-->
            <h2></h2>
        </div>
        <div class="am-list-news-bd">
            <div id="statsChart" style="min-height: 400px;padding-left: 0px;padding-right: 0px"></div>
        </div>
    </div>

</section>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/amazeui.min.js') }}"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript">
    Highcharts.setOptions({global: {useUTC: false}})
</script>
<script src="{{ url_for('static', filename='js/draggable-legend.js') }}"></script>
<script src="http://g.alicdn.com/dingding/open-develop/1.0.0/dingtalk.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        //dingding
        dd.biz.navigation.setRight({
            show: false,
            control: true,
            text: '发送',
        })
        //end for dingding

        var chart = {
            draggable: false,
            zoomType: 'x'
        }

        var title = {
            text: '涨跌幅走势'
        }

        var subtitle = {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
        }

        var xAxis = {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                millisecond: '%H:%M:%S.%L',
                second: '%H:%M:%S',
                minute: '%H:%M',
                hour: '%H:%M',
                day: '%m-%d',
                week: '%m-%d',
                month: '%Y-%m',
                year: '%Y'
            },
            //categories: product_list_data[0]['data']
        }
        var tooltip = {
            dateTimeLabelFormats: {
                millisecond: '%H:%M:%S.%L',
                second: '%H:%M:%S',
                minute: '%H:%M',
                hour: '%H:%M',
                day: '%Y-%m-%d',
                week: '%m-%d',
                month: '%Y-%m',
                year: '%Y'
            },
            enabled: true
        }
        var yAxis = {
            title: {
                text: null
            },
        }

        var plotOptions = {
            line: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        }

        var credits = { // 网站标识
            enabled: false//版权为fals 就不会再显示highcharts的logo。
        }

        var json = {}

        json.chart = chart
        json.title = title
        json.subtitle = subtitle
        json.xAxis = xAxis
        json.yAxis = yAxis
        json.tooltip = tooltip
        json.plotOptions = plotOptions

        json.credits = credits

        //var chart = $('#statsChart').highcharts(json)

        $.getJSON('/rt_pct/', function (response) {
            var series = response.data
            json.series = series
            //chart.addSeries(series, true)
            $('#statsChart').highcharts(json)
        })

        var socket = io.connect('http://' + document.domain + ':' + location.port)
        socket.on('onTick', function(msg) {
            sz50 = parseFloat(msg.sz50).toFixed(4)
            hs300 = parseFloat(msg.hs300).toFixed(4)
            zz500 = parseFloat(msg.zz500).toFixed(4)
            strategy = parseFloat(msg.strategy).toFixed(4)
            time_stamp = parseFloat(msg.time_stamp)
                $('#sz50').html((100*sz50).toFixed(2)+'%');
             $('#sz50r').html((100*(strategy - sz50)).toFixed(2)+'%');
            $('#hs300').html((100*hs300).toFixed(2)+'%');
            $('#hs300r').html((100*(strategy - hs300)).toFixed(2)+'%');
            $('#zz500').html((100*zz500).toFixed(2)+'%');
            $('#zz500r').html((100*(strategy - zz500)).toFixed(2)+'%');
            var chart = $('#statsChart').highcharts()
            chart.series[0].addPoint([1000*time_stamp, sz50], true, true)
            chart.series[1].addPoint([1000*time_stamp, hs300], true, true)
            chart.series[2].addPoint([1000*time_stamp, zz500], true, true)
            chart.series[3].addPoint([1000*time_stamp, strategy], true, true)
            //console.log(chart.series.length)
        });

    })
</script>
</body>
</html>

